*{
	box-sizing: border-box;
}
nav{
	/*display: flex;*/
	float: left;
	width: 20%;
	border: 1px solid black;
}
section{
	float: left;
	width: 75%;
}
/*NAVEGADOR */
ul{
	list-style: none;
	margin-left: 5%;
	margin-right: 22%;
	text-align: center;
}
li{
	margin-top: 30PX;
	border: 1px solid black;
}
li:hover {
    background-color: #42f4a1;
}

.active {
    background-color: red;
}